# ==========================================
# MENUQR - Variáveis de Ambiente
# ==========================================

# ------------------------------------------
# SUPABASE
# ------------------------------------------
VITE_SUPABASE_URL=https://okoxabxvlqkqiotwloao.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rb3hhYnh2bHFrcWlvdHdsb2FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MjE4NjAsImV4cCI6MjA5ODk5Nzg2MH0.zGjRJvkqd_u6Vh13NLAl_ysECUZqf9AXkXDzdVsTEbE

# ------------------------------------------
# DEEPSEEK AI
# ------------------------------------------
VITE_DEEPSEEK_API_KEY=sk-529467cf3d964c72afa5ccd99f5066e1

# ------------------------------------------
# FIREBASE
# ------------------------------------------
VITE_FIREBASE_API_KEY=AIzaSyC8NkGfoy-LvXkU7HIcC2GwPwbsdEkL-so
VITE_FIREBASE_AUTH_DOMAIN=menuvirtualqr.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=menuvirtualqr
VITE_FIREBASE_STORAGE_BUCKET=menuvirtualqr.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=820180413491
VITE_FIREBASE_APP_ID=1:820180413491:web:813b948405062238ba8746

# ------------------------------------------
# AMBIENTE
# ------------------------------------------
VITE_APP_NAME=MenuVirtualQr
VITE_APP_URL=http://localhost:5173
VITE_APP_ENV=development