.admin-layout{

display:flex;
min-height:100vh;

}


.admin-sidebar{

width:240px;
padding:20px;

background:#111827;

color:white;

}



.admin-sidebar button{

display:block;
width:100%;

padding:12px;

margin-bottom:10px;

background:none;

border:none;

color:white;

text-align:left;

cursor:pointer;

}



.admin-sidebar button.active{

background:#2563eb;

border-radius:8px;

}



.admin-content{

flex:1;

padding:25px;

background:#f3f4f6;

}



.admin-header{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:12px;

margin-bottom:25px;

}


.admin-card{


background:white;

border-radius:16px;

padding:24px;

box-shadow:
0 8px 25px rgba(0,0,0,0.08);

margin-bottom:25px;


}




.admin-card-header{


display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;


}




.admin-card-header h2{


margin:0;

font-size:22px;


}




.admin-card-body{


width:100%;


}




.admin-card-actions button{


padding:10px 16px;

border:none;

border-radius:8px;

cursor:pointer;


}


/* admin - table */

.admin-table-wrapper{

overflow-x:auto;

}



.admin-table{

width:100%;

border-collapse:collapse;

}



.admin-table th{


text-align:left;

padding:14px;

background:#f9fafb;

font-weight:600;


}



.admin-table td{


padding:14px;

border-bottom:1px solid #e5e7eb;


}




.admin-table tr:hover{


background:#f9fafb;


}



.table-actions{


display:flex;

gap:8px;


}



.table-actions button{


padding:8px 12px;

border:none;

border-radius:8px;

cursor:pointer;


}




.empty-table{


text-align:center;

padding:30px;

color:#6b7280;


}



.info-box{

margin-top:25px;

padding:20px;

background:#eff6ff;

border-left:5px solid #2563eb;

border-radius:12px;

}


.info-box h4{

margin-top:0;

}


.info-box ul{

padding-left:20px;

line-height:1.8;

}